.container {
    background-color: #436E35; 
     
    color: white;
    
  }

.footer1{
    background-color: #436E35; 
    padding-top: 10px;
}

.mini-footer{
    background-color: #01370C;
   
}
  